<ers-panel header="Expression" style="height:450px">
    <form class="form-horizontal">
        <div class="form-group">
            <ers-label class="col-sm-2 control-label" value="Good:"></ers-label>
            <ers-dropdown-select class="col-sm-6" ng-required="true" 
            dropdown-select-type="grid"
	        filter-mode="auto"
            dropdown-select-type="standard" filter-mode="auto" items="ctrl.goods"
            item-display-property="name" placeholder="Select a good" grid-column-headers="ctrl.itemColumns"
            ng-change="ctrl.onchangeofgood(itemSelected)" ng-model="ctrl.good"
            use-search-icon="true"
	multi-select="true">
                </ers-drodpwon-select>
        </div>
        
    </form>
</ers-panel>