<div class="layoutWrapper">
    <h1 class="page-title">Reporting Sample</h1>
    <div class="row" >
        <div class="col-md-6">
            <ers-label value="This is an Galileo Label using ers-label"></ers-label>
            <ers-label value="{{ctrl.helloWorld()}}"></ers-label>
        </div>
        <!--
        <div>
           <ers-label value="Enter Path of JSON file"></ers-label>
           <ers-textbox id="file-path" name="file-path"></ers-textbox>
           <ers-button ng-click="ctrl.displayFileContent(file-path)">GO</ers-button>
           <ers-textbox ng-show="ctrl.dataLoaded">{{ctrl.fileContent}}</ers-textbox>
        </div>
        -->
    </div>
</div>