<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<!--<img src="app/images/ma.png" class="moodys-logo" style="height: 40px;">-->
			<a ui-sref="dashboard" class="navbar-brand">Report Publisher</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown" dropdown="">
				<a href="javascript:void(0)" class="dropdown-toggle" dropdown-toggle="" role="button">My Account <i class="fa fa-angle-down"></i></a>
				<ul class="dropdown-menu">
					<li><a ui-sref="settings">Settings</a></li>
					<li><a href="index.html">Logout</a></li>
				</ul>
			</li>
		</ul>
		<!--
		<form class="navbar-form navbar-right col-sm-3" role="search">
			<ers-dropdown-select select-label="Search" filter-mode="auto" select-type="standard" rows="ctrl.searchRows"></ers-dropdown-select>
		</form>
		-->
	</div>
</div>