<div>
    <h1 class="page-title">Client Management</h1>
    <div class="row">
        <div class="col-md-7">
            <ers-panel header="Client List">
                <ers-grid options="ctrl.gridOptions" style="height:380px"></ers-grid>
            </ers-panel>
        </div>
        <div class="col-md-5">
            <ers-panel collapsible="false">
                <ers-panel-header>Client Detail</ers-panel-header>
                <ers-panel-body>
                    <div class="form-group">
                        <ers-toolbar>
                            <ers-icon name="edit" ng-click="ctrl.enableEdit()" ng-disabled="ctrl.isEditing"></ers-icon>
                            <ers-toolbar-separator></ers-toolbar-separator>
                            <ers-icon name="save" ng-click="ctrl.submit()" type="submit" form="formSample" ng-disabled="!ctrl.isEditing"></ers-icon>
                            <ers-icon name="cancel" ng-click="ctrl.cancelEdit()" ng-disabled="!ctrl.isEditing"></ers-icon>
                        </ers-toolbar>
                    </div>
                    <div>
                        <form class="form-horizontal" id="formSample" name="formSample" novalidate ers-form="ctrl.submit()">
                            <div class="form-group">
                                <ers-label value="WXName:" class="col-sm-4 control-label"></ers-label>
                                <ers-textbox ng-model="ctrl.client.wxname" ng-maxlength="100" class="col-sm-6" ng-readonly='!ctrl.isEditing'></ers-textbox>
                            </div>
                            <div class="form-group">
                                <ers-label value="Name:" class="col-sm-4 control-label"></ers-label>
                                <ers-textbox ng-model="ctrl.client.name" ng-maxlength="100" class="col-sm-6" ng-readonly='!ctrl.isEditing'></ers-textbox>
                            </div>
                            <div class="form-group">
                                <ers-label value="Phone:" class="col-sm-4 control-label"></ers-label>
                                <ers-textbox ng-model="ctrl.client.phone" ng-maxlength="100" class="col-sm-6" ng-readonly='!ctrl.isEditing'></ers-textbox>
                            </div>
                            <div class="form-group">
                                <ers-label value="Address:" class="col-sm-4 control-label"></ers-label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="5" ng-model="ctrl.client.address" ng-readonly='!ctrl.isEditing'></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <ers-label value="Address1:" class="col-sm-4 control-label"></ers-label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="5" ng-model="ctrl.client.address1" ng-readonly='!ctrl.isEditing'></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <ers-label value="Address2:" class="col-sm-4 control-label"></ers-label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="5" ng-model="ctrl.client.address2" ng-readonly='!ctrl.isEditing'></textarea>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </ers-panel-body>
            </ers-panel>
        </div>
    </div>
</div>