html {
}

body {
	overflow: auto;
}

.page-title {
	margin: 20px 0;
}

/* Header */

.navbar-default {
	background-color: #009BE1;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	height: 40px;
	min-height: 40px;
	border: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #fff;
	height: 40px;
	padding: 10px 15px;
}

.navbar-form {
	margin-top: 4px;
	margin-bottom: 4px;

	.form-group .form-control {
		width: 220px;
	}
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: -20px;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	padding: 10px 15px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}

/* Side Menu */

.side-bar {
	background: #19191f;
	width: 200px;
	margin-left: -200px;
	left: 200px;
	top: 40px;
	position: fixed;
	height: 100%;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	text-overflow: clip;
}

.side-bar a {
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
	border-left: solid 3px transparent;
}

.side-bar li.active a,
.side-bar li a:hover,
.side-bar li a:active,
.side-bar li a:focus {
	color: #FFF;
	background: #101014;
}

.side-bar li.active a {
	border-left: solid 3px #0078b0;
}

.side-bar li .glyphicon {
	font-size: 21px;
	vertical-align: middle;
	margin-bottom: 4px;
}

.side-bar a .nav-text {
	margin-left: 6px;
}

.side-bar .badge {
	margin-left: -10px;
	background: #009be0;
	padding: 3px 6px;
}

/* Sub Nav */

.side-bar .sub-nav {
	display: none;
}

.side-bar li.active .sub-nav {
	display: block;
}

.side-bar .sub-nav li a {
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
	padding: 5px 15px 5px 52px;
}

.side-bar .sub-nav li.active a {
	color: #FFF;
}

.side-bar .sub-nav li.active a,
.side-bar .sub-nav li a:hover {
	color: #FFF;
	background: #2D2D38;
}

.side-bar .sub-nav li.active a,
.side-bar .sub-nav li a:hover {
  color: #FFF;
  background: #2D2D38;
}

/* Main Content */

.content-wrapper {
	margin-left: 200px;
	margin-top: 40px;
}

/* Panels */

.panel {
	margin-bottom: 20px;
	border-radius: 2px;
}

.btn-icon {
	min-width: 26px;
}

/* Icon Button Hover */

.btn-icon:before {
	left: 0;
	top: 0;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scale3d(0, 0, 0);
	transition: all;
	transition-duration: 250ms;
	backface-visibility: hidden;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 0;
	border-radius: 50%;
	opacity: 0;
	filter: alpha(opacity=0);
}

.btn-icon:hover:before {
	transform: scale3d(1, 1, 1);
	opacity: 1;
	filter: alpha(opacity=100);
}

.btn-icon:active:before {
	background-color: rgba(0, 0, 255, 0.2);
}

/* Tables */

.table-center-text td:not(:first-child),
.table-center-text th:not(:first-child) {
	text-align: center;
}

.table > thead > tr > th {
	border-bottom: 1px solid #DDD;
	font-weight: 600;
}

/* Tabs */

.nav-tabs > li > a {
	border: none;
	border-bottom: 2px solid transparent;
	border-radius: 0;
	opacity: 0.85;
	text-transform: uppercase;
	color: #535858;
	padding: 10px;
	font-size: 14px;
}

.nav-tabs > li > a:hover {
	border-color: transparent;
	border-bottom: 1px solid transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border: none;
	border-bottom: 2px solid #009be0;
	color: #009be0;
	opacity: 1;
	background: transparent;
}

.table {
	margin-bottom: 0;
}

/* Bootstrap Grid */

.container-fluid {
	padding-left: 20px;
	padding-right: 20px;
}

.body-gray {
	background: #edecec;

	.card,
	.panel {
		border: 0;
		-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
		.panel-body {
			padding: 20px;
		}
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: #DDD;
	}
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	padding-right: 10px;
	padding-left: 10px;
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

.form-horizontal .form-group {
	margin-right: -10px;
	margin-left: -10px;
}

/* Loading */

.loading-container {
	min-height: 100px;
	position: relative;
}

.loading {
	width: 2.2585em;
	height: 2.2585em;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	text-align: center;
	z-index: 1000;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.loading:before {
	position: absolute;
	content: '';
	top: 0%;
	left: 50%;
	width: 100%;
	height: 100%;
	border-radius: 500rem;
	border: 0.2em solid rgba(0, 0, 0, 0.1);
}

.loading:after {
	position: absolute;
	content: '';
	top: 0%;
	left: 50%;
	width: 100%;
	height: 100%;
	-webkit-animation: loader 1.2s linear;
	animation: loader 1.2s linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	border-radius: 500rem;
	border-color: #767676 transparent transparent;
	border-style: solid;
	border-width: 0.2em;
	box-shadow: 0px 0px 0px 1px transparent;
}

@-webkit-keyframes loader {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.loading-inline {
	position: relative;
	vertical-align: middle;
	margin: 0 auto;
	left: 0em;
	top: 0em;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.loading:before,
.loading:after {
	width: 2.2585em;
	height: 2.2585em;
	margin: 0em 0em 0em -1.12925em;
}

.loading-small {
	width: 1.7142em;
	height: 1.7142em;
	font-size: 0.92857143em;
}

.loading-small:before,
.loading-small:after {
	width: 1.7142em;
	height: 1.7142em;
	margin: 0em 0em 0em -0.8571em;
}

.loading-large {
	width: 4.5714em;
	height: 4.5714em;
	font-size: 1.14285714em;
}

.loading-large:before,
.loading-large:after {
	width: 4.5714em;
	height: 4.5714em;
	margin: 0em 0em 0em -2.2857em;
}

/* Ace Editor */

.ace_editor {
	height: 250px;
	border-left: 1px solid rgba(150, 156, 156, 0.4);
	border-top: 1px solid rgba(150, 156, 156, 0.4);
}

/* Helper Classes */

.margin-bottom-default {
	margin-bottom: 24px;
}

/* Atlas home page style classes */
header {
	// fixed header style begins
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	// fixed header style ends
	padding: 10px 0;
	background: #fff;
	.nav {
		a:hover, a:focus {
			background: transparent;
		}
	}
}

.content-area {
	background: #334456 url("~/images/background.png") no-repeat;

	.panel {
		background: rgba(255, 255, 255, 0.9);
		border-radius: 4px;
		margin: 130px auto;
		width: 500px;

		.panel-body {
			padding: 45px 30px;
			border-top: 0;
		}

		h2 {
			margin: 0 0 30px 0;
		}

		.panel-copy {
			font-size: 15px;
			margin-bottom: 45px;
		}
	}
}

.bottom-content-area {
	padding: 45px 0;

	.feature-block {
		margin: 0 auto;
		padding: 0 10px;

		.marketing-img {
			text-align: center;
			margin-bottom: 20px;
		}

		h3 {
			margin-top: 45px;
		}

		p {
			font-size: 15px;
		}
	}
}

footer {
	background: #334456;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}

//default bootstrap button classes
.btn-sm, .btn-group-sm > .btn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.btn-lg, .btn-group-lg > .btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

/* Atlas products page style classes */
.products-content-area {
	border-top: 1px solid #ccc;
	padding: 30px 0;
	margin-top: 70px; // fixed header style
	h2 {
		margin: 18px 0;
	}
	.my-products {
		color: #fff;
		padding: 30px 15px;
		h3 {
			font-size: 32px;
			font-weight: normal;
		}
		p {
			font-size: 15px;
			font-weight: 300;
			min-height: 42px;
			margin: 0;
		}
	}

	.other-products {
		background-color: #79829c;
		color: #fff;
		padding: 10px 15px;
		h3 {
			font-size: 24px;
			font-weight: normal;
		}
		p {
			font-size: 15px;
			font-weight: 300
		}
	}

	.bg-purple {
		background-color: #7620b3;
	}
	.bg-green {
		background-color: #007d53;
	}
	.bg-blue {
		background-color: #00557d;
	}
	.button-specs {
		padding: 15px;
	}
}

// Mapping styles
.list-group.border-top {
	max-height: 480px;
	overflow-y: auto;
}

.border-top {
	border-top: 1px solid #DDD;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
	background-color: #E4F4FF;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background-color: #EEFFE1;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	color: #333;
}

.margin-left-default {
	margin-left: 20px;
}

.margin-right-default {
	margin-right: 20px;
}

.margin-bottom-default {
	margin-bottom: 20px;
}

.margin-top-default {
	margin-top: 20px;
}

label {
	margin-bottom: 0;
}

.thead-bg {
	background: #f9f9f9;
}

/* App Loading */
.app-loading h1 {
	color: rgba(0, 0, 0, .2);
	font-size: 48px;
	font-weight: 700;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	text-align: center;
	z-index: 1000;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.app-loading h1:before {
	content: attr(data-text);
	position: absolute;
	overflow: hidden;
	max-width: 7em;
	white-space: nowrap;
	color: #009be0;
	animation: app-loading 8s linear;
}

@keyframes app-loading {
	0% {
		max-width: 0;
	}
}
/* ERS Grid */
.ers-grid {
  min-height: 200px;
   .ag-header-viewport, .ag-header-container, .ag-header-cell, .ag-body-container, .ag-row, .ag-cell {
    
   }
  .ag-header-cell {
    // border-right: none;
  }
  .ag-filter-checkbox {
    margin-right: 4px;
  }

  input.ag-filter-filter {
    display: block;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  
}